*,
*::after,
*::before{
	box-sizing: border-box;
}

body{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #131313;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.container{
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1220px;
}

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu{
	margin-right: 73px;
}

.menu__list{
	display: flex;
}

.menu__item + .menu__item{
	padding-left: 10px;
}

.menu__link{
	text-transform: uppercase;
	padding: 42px 20px;
	transition: all .3s ease;
}

.menu__link:hover{
	background-color: #131313;
	color: #fff;
}

.bike {
	margin: 97px 0 120px;
}

.bike__inner {
	display: flex;
	justify-content: space-between;
}

.bike__column-slider{
	flex-basis: 630px;
	margin-left: 30px;
	max-width: 630px;
}

.bike__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 77px;
	margin: 60px 0 5px;
}

.bike__subtitle {
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	color: #6F6F6F;
	margin: 0 0 60px;
}

.bike__text {
	margin-bottom: 20px;
	max-width: 420px;
}

.bike__link {
	display: inline-block;
	margin-top: 80px;
	padding: 28px 66px 28px 81px;
	letter-spacing: 1.1em;
	color: #fff;
	background-color: #131313;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	border: none;
	transition: all .3s ease;
}

.bike__link:hover{
	background-color: #FF4040;
}

.bike__slider .slick-dots{
	right: 0;
	top: 52px;
}

.slick-dots{
	position: absolute;
}

.slick-dots li + li{
	padding-top: 10px;
}

.slick-dots button{
	font-size: 0;
	padding: 0;
	border: none;
	background-color: #131313;
	width: 2px;
	height: 25px;
	border-radius: 7px;
	cursor: pointer;
	transition: all .3s ease;
}

.slick-dots button:hover,
.slick-active button{
	background-color: #FF4040;
}

.bike__list{
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

.bike__list-item{
	min-width: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 58px; /* сверху и снизу отступы по 5 пикс + выс текста + выс числа*/
}

.bike__list-number{
	text-transform: uppercase;
	font-weight: 700;
}

.bike__list-text{
	text-transform: lowercase;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	margin: auto 0;
}

.info{
	margin-bottom: 120px;
	padding-top: 30px;
}

.info__inner{
	display: flex;
}

.info__img{
	margin-right: 60px;
	flex-basis: 570px;
	object-fit: cover;
}

.info__list{
	flex-basis: 490px;
}

.info__item + .info__item{
	padding-top: 50px;
}

.info__item-title{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.info__item-text{
	max-width: 450px;
	margin: 0;
}

.characteristics{
	padding-top: 30px;
	margin-bottom: 150px;
}

.characteristics__title{
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
}

.characteristics__inner{
	display: flex;
}

.characteristics__items{
	margin-right: 60px;
	flex-basis: 570px;
}

.characteristics__img{
	align-self: center;
	flex-basis: 570px;
}

.characteristics__list + .characteristics__list{
	padding-top: 30px;
}

.characteristics__list-title{
	color: #fff;
	padding: 3px 0;
	background-color: #131313;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}

.characteristics__line{
	display: flex;
	padding-top: 5px;
}

.characteristics__line-name{
	flex-basis: 285px;
	padding-right: 25px;
}

.characteristics__line-desription{
	flex-basis: 285px;
}

.slider{
	margin-bottom: 50px;
}

.slider__items .slick-dots{
	top: 0;
	left: 0;
}

.slider__item{
	padding-left: 50px;
}

.price{
	margin-bottom: 100px;
}

.price__inner{
	position: relative;
}

.form{
	max-width: 420px;
}

.form__title{
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	text-transform: uppercase;
}

.form__text{
	max-width: 300px;
	margin-bottom: 30px;
}

.form__input-name,
.form__input-phone{
	width: 100%;
	border: none;
	border-bottom: 1px solid #131313;
	padding-bottom: 10px;
	margin-bottom: 20px;
	outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__subtext{
	color: #6f6f6f;
	opacity: .5;
}

.form__subtext{
	margin-bottom: 10px;
}

.form__label-box{
	display: flex;
	margin-bottom: 50px;
}

.form__label + .form__label{
	margin-left: 23px;
}

.form__input-radio{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike{
	display: block;
}

.form__bike-price{
	font-size: 32px;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	width: 220px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #FF4040;
	border-radius: 50%;
	transform: translate(-50%);
}

.form__bike-price::after{
	content: '';
	position: absolute;
	width: 220px;
	height: 100px;
	border: 1px solid #FF4040;
	border-radius: 50%;
	top: 12px;
	left: 0;
}

.form__bike{
	display: none;
	position:absolute;
	top: 0;
	right: 0;
}

.form__radio-style{
	background: #6f6f6f;
	border-radius: 30px;
	width: 80px;
	height: 12px;
}

.form__radio-style--grey{
	background: #6f6f6f;
}

.form__radio-style--white{
	background: #fff;
	border: 1px solid #6f6f6f;
}

.form__radio-style--red{
	background: #FF4040;
}

.form__btn{
	background-color: #131313;
	padding: 28px 66px 28px 81px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.1em;
	line-height: 24px;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s ease;
}

.form__btn:hover{
	background-color: #FF4040;
}

.footer{
	background-color: #131313;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
}

.footer__policy{
	text-transform: lowercase;
	text-decoration: underline;
}

.footer__social-link + .footer__social-link{
	margin-left: 28px;
}

.footer__contacts-link{
	display: flex;
	align-items: center;
}

.footer__contacts-link + .footer__contacts-link{
	margin-top: 10px;
}

.footer__contacts-icon{
	margin-right: 10px;
}

@media(max-width: 1110px){
	.bike{
		padding: 0;
	}
	
	.bike__text{
		max-width: 100%;
	}

	.bike__inner{
		flex-wrap: wrap;
	}

.bike__column{
	margin-bottom: 30px;
}

.bike__column-slider{
	max-width: 100%;
	margin-left: 0;
}

	.bike__link{
		margin-top: 30px;
	}
}

@media(max-width: 991px){
	.menu{
		margin-right: 0;
	}
}

@media(max-width: 670px){
	.bike__title{
		font-size: 44px;
		line-height: 57px;
		margin: 30px 0 5px;
	}
	.bike__subtitle{
		margin: 0 0 30px;
		font-size: 22px;
		line-height: 29px;
	}
	.bike__list{
		flex-wrap: wrap;
	}
	.bike__list-item{
		width: 50%;
		margin-bottom: 15px;
	}
}

@media(max-width: 640px){
	.header__top{
		display: block;
		text-align: center;
	}
	.menu{
		margin-top: 50px;
	}
	.menu__list{
		justify-content: space-evenly;
	}

	.menu__item + .menu__item{
		padding-left: 0;
	}

	.menu__link{
		padding: 25px 20px;
	}
}

@media(max-width: 460px){
	.menu__list{
		justify-content: space-between;
	}
	.menu__link{
		padding: 25px 5px;
	}
	
}

@media(max-width: 350px){
	.menu{
		margin-top: 30px;
	}
	.menu__link{
		font-size: 12px;
	}
}